.getItem {
    list-style-type: none;
    padding: 0;
}

.item {
    display: flex;
    align-items: center;
    margin: 20px;
}

.radio {
    margin-right: 20px;
    font-size: 20px;
}

.radio:hover {
    cursor: pointer;
    color: rgb(109, 115, 120);
}
